.footer {
  color: #585f69;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer p {
  width: unset;
  padding: unset;
  font-size: 1rem;
  margin-left: 1rem;
}

.footer div {
  display: flex;
  z-index: 1;
}

.footer svg {
  cursor: pointer;
  fill: var(--footer-svg-fill);
  border-radius: 0.5rem;
  margin-left: 1rem;
}
