.footer {
  color: #585f69;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer p {
  width: unset;
  padding: unset;
  font-size: 1rem;
  margin-left: 1rem;
}
