@font-face {
  font-family: Effra Regular;
  src: url(/fonts/effra/Effra_Std_Rg.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Effra Bold;
  src: url(/fonts/effra/Effra_Std_Bd.ttf);
  font-weight: bold;
}

:root {
  --border-radius: 24px;

  --font-family: Effra Regular, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;

  --default-background-color: #0f1012;
  --header-text-color: linear-gradient(90deg, #cdffe6, #8fdeff);
  --description-text-color: #a9bcce;

  --navigation-text-color: #9cabb0;
  --navigation-active-text-color: #fff;
  --navigation-border-color: #cdffe6;

  --highlight-background: #212529;

  --table-dark-background: #212529;
  --table-light-background: #2c3034;
  --table-footer-color: #464646;
  --table-hover-color: #4da7aa42;

  --footer-svg-fill: white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--default-background-color);
  font-family: var(--font-family);
  letter-spacing: 1px;
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: url("../assets/dark-background.png");
  background-size: cover;
}

h1,
p {
  font-family: var(--font-family);
  letter-spacing: 1px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: gray;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: rgba(33, 35, 40, 255);
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
}
