.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem 1rem;
  height: 100%;
  word-break: break-word;
  overflow: auto;
}

.home h1 {
  font-size: 5rem;
  background: var(--header-text-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home p {
  font-size: 2rem;
  color: var(--description-text-color);
}

.home div {
  display: flex;
  margin: 2.5rem 0;
}

.home svg {
  cursor: pointer;
  fill: var(--footer-svg-fill);
  border-radius: 0.5rem;
  margin-left: 1rem;
}

.installCommand {
  padding: 1rem;
  margin: 2.5rem 0;
  background: var(--highlight-background);
  display: inline-block;
  border-radius: 24px;
  border: 1px solid gray;
  word-break: break-all;
}

.installCommand code,
.installCommand svg {
  color: white;
  vertical-align: middle;
}

.installCommand svg {
  cursor: pointer;
}

/* MEDIA */
@media screen and (max-width: 375px), (max-height: 679px) {
  .home {
    justify-content: unset;
  }
}
