.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 6rem;
  min-height: 100vh;
}

.main h1 {
  font-size: 5rem;
  background: var(--header-text-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main p {
  font-size: 2.5rem;
  color: var(--description-text-color);
}
/* MEDIA */

@media (max-width: 426px) {
  .main {
    padding: 3rem 0;
  }
}
