.submitLayout {
  display: flex;
  padding: 3rem 1rem;
  overflow: auto;
  height: 100%;
  width: 100%;
  justify-content: center;
  text-align: -webkit-center;
  color: var(--description-text-color);
}

.submitFeedbackLayout {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.submitForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submitForm input {
  width: 50%;
  border: 1px solid gray;
  border-radius: var(--border-radius);
  line-height: 2.5rem;
  background: var(--highlight-background);
  text-align: initial;
  padding: 0 1rem;
  color: var(--description-text-color);
}

.submitForm button {
  margin: 1.5rem 0;
  cursor: pointer;
  width: 20%;
  height: 42px;
  border: 1px solid gray;
  border-radius: calc(var(--border-radius) / 2);
  background: var(--highlight-background);
  color: var(--description-text-color);
}

.submitForm button:hover {
  background: var(--button-hover-background);
}

.connectWalletCommand {
  padding: 1rem;
  margin: 2.5rem 0;
  background: var(--highlight-background);
  display: inline-block;
  border-radius: 24px;
  border: 1px solid gray;
  word-break: break-all;
}

.connectWalletCommand code,
.connectWalletCommand svg {
  color: white;
  vertical-align: middle;
  margin: 0.5rem;
}

.connectWalletCommand svg {
  cursor: pointer;
}

/* MEDIA */
@media (max-width: 1320px) {
  .submitForm input {
    width: 100%;
  }
}
